body {
  background-color: #fcebc7;
}
.page{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
  margin-bottom: 70%;
  background-color: white;
  width: 70vw;
  height:90vw;
  box-shadow: 5px 10px;
}
p {
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Overlock', cursive;
  font-size: 1vw;
  text-indent: 2vw;
  display: inline-block;
}
h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 3vw;
  text-align: center;
  padding-top: 2vw;
}
.hidden {
  visibility: hidden;
}