body {
  background-color: #005a94;
}
a {
  color: #0072bc;
  text-decoration: underline;
}
.window {
  width: 100%;
  height: 100%;
}
.white {
  background-color: white;
  width: 974px;
  height: 6650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.topbar {
  height: 90px;
  width: 974px;
  background-color: #0072bc;
  border-radius: 10px;
  position: relative;
  top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbartext {
  color: white;
  font-size: 40px;
}
.body {
  text-align: left;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 120px;
}
.questiontext {
  color: #6b9fcf;
  font-style: italic;
  font-size: 30px;
}
.questiontextbyline {
  color: #6b9fcf;
  font-style: italic;
  font-size: 30px;
  text-indent: 400px;
}
.bodytext {
  font-size: 28px;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .white {
    background-color: white;
    width: 640px;
    height: 6650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .topbar {
    height: 90px;
    width: 640px;
    background-color: #0072bc;
    border-radius: 10px;
    position: relative;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bodytext {
    font-size: 28px;
  }
  .body {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
  }
  .questiontext {
    color: #6b9fcf;
    font-style: italic;
    font-size: 30px;
  }
  .questiontextbyline {
    color: #6b9fcf;
    font-style: italic;
    font-size: 30px;
    text-indent: 300px;
  }
  .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body {
    background-color: white;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
.white {
      background-color: white;
      width: 769px;
      height: 6650px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
    }
    .topbar {
      height: 90px;
      width: 769px;
      background-color: #0072bc;
      border-radius: 10px;
      position: relative;
      top: -10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .bodytext {
      font-size: 28px;
    }
    .body {
      text-align: left;
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 25px;
    }
    .questiontext {
      color: #6b9fcf;
      font-style: italic;
      font-size: 30px;
    }
    .questiontextbyline {
      color: #6b9fcf;
      font-style: italic;
      font-size: 30px;
      text-indent: 300px;
    }
    .image {
      display: flex;
      align-items: center;
      justify-content: center;
    }
body {
      background-color: white;
    }
}
@media screen and (min-width: 2000px) {
  .white {
        background-color: white;
        width: 2000px;
        height: 4500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
      }
  .topbar {
    height: 90px;
    width: 2000px;
    background-color: #0072bc;
    border-radius: 10px;
    position: relative;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
