p{
text-indent: 20px;
margin-left: 10px;
margin-right: 800px;
font-family: 'Alegreya', serif;
line-height: 20px;
}
h1{
text-align: left;
font-family: 'Notable', sans-serif;
display: inline;
}
h2{
text-align: left;
font-family: 'Notable', sans-serif;
display: inline;
}
h3{
text-align: left;
font-family: 'Notable', sans-serif;
display: inline;
}
h4{
text-align: left;
font-family: 'Notable', sans-serif;
display: inline;
}
body {
  background-color: #dbabcb;
}
