body {
  background-color: #cbc9ad;
  margin: 0;
}
a {
  color: #0072bc;
  text-decoration: underline;
}
div {
  float: left;
}
.sidebar {
  background-color: #0d1b2a;
  width: 20vw;
  height: 100vh;
  position: fixed;
}
.thumbs {
  width: 80vw;
  height: 100vw;
  margin-left: 20vw;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.ports {
  padding-top: 20px;
  padding-left: 3vw;
  margin: 0 auto;
}
#sidebartext {
  color: #7f7f7f;
  text-align: center;
  font-size: 70px;
}
#sidebarline {
  color: #7f7f7f;
  text-align: center;
  font-size: 30px;
}
#funeral {
  width: 45%;
  margin-left: 3vw;
  margin-top: 20px;
}
#execution {
  width: 90%;
}
#square1 {
  width: 45%;
  margin-left: 3vw;
  margin-top: 20px;
}