.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
body {
  background-color: #cbc9ad;
  margin: 0;
}
a {
  color: #0072bc;
  text-decoration: none;
}
div {
  float: left;
}
.abouttext {
  font-size: 40px;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 250px;
  text-indent: 40px;
}
.sidebar {
  background-color: #0d1b2a;
  width: 20vw;
  height: 100vh;
  position: fixed;
  text-align: center;
}
.thumbs {
  width: 80vw;
  height: 100vw;
  margin-left: 20vw;
}
.detail {
  width: 80vw;
  margin-left: 20vw;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.ports {
  padding-top: 20px;
  padding-left: 3vw;
  margin: 0 auto;
}
#sidebartext {
  color: #7f7f7f;
  text-align: center;
  font-size: 70px;
}
#sidebartextdetail {
  color: #7f7f7f;
  text-align: center;
  font-size: 30px;
}
#sidebarline {
  color: #7f7f7f;
  text-align: center;
  font-size: 30px;
}
#funeral {
  width: 43%;
  margin-left: 4vw;
  margin-top: 20px;
  float: left;
}
#execution {
  width: 90%;
}
#executiondetail {
  width: 99%;
}
#square1 {
  width: 45.6%;
  margin-left: 1vw;
  margin-top: 20px;
  float: left;
}
#sitting1 {
  width: 43%;
  margin-left: 4vw;
  margin-top: 20px;
  float: left;
  position: relative;
  margin-top: -1vw;
}
#sitting1detail {
  height: 99vh;
}
#captain {
  width: 44.4%;
  margin-left: 2vw;
  margin-top: 20px;
  float: left;
}
#standing1 {
  width: 44%;
  margin-left: 4vw;
  float: left;
  position: relative;
  margin-top: -12vw;
}
#standing2 {
  width: 44.7%;
  margin-left: 1vw;
  margin-top: 20px;
  float: left;
}
#couple {
  width: 44.7%;
  margin-left: 4vw;
  margin-top: 20px;
  float: left;
  position: relative;
  margin-top: -16vw;
}
#square3 {
  width: 44%;
  margin-left: 1vw;
  margin-top: 20px;
  float: left;
}
#square2 {
  width: 44%;
  margin-left: 4vw;
  margin-top: 20px;
  float: left;
  position: relative;
  margin-top: -13vw;
}
@media screen and (min-width: 320px) and (max-width: 1195px) {
  .sidebar {
    background-color: #0d1b2a;
    width: 80vw;
    height: 250px;
    text-align: center;
    margin-left: 10vw;
    position: relative;
  }
  #sidebartext {
    color: #7f7f7f;
    text-align: center;
    font-size: 30px;
  }
  #sidebarline {
    color: #7f7f7f;
    text-align: center;
    font-size: 20px;
  }
  .detail {
    width: 90vw;
    margin-left: 5vw;
  }
  .thumbs {
    width: 80vw;
    height: 100vw;
    margin-left: 10vw;
  }
    #funeral {
      width: 90%;
      margin-top: 20px;
    }
    #execution {
      width: 90%;
    }
    #executiondetail {
      width: 99%;
    }
    #square1 {
      width: 90%;
      margin-top: 20px;
      margin-left: 5%;
    }
    #sitting1 {
      width: 90%;
      margin-top: 20px;
    }
    #captain {
      width: 90%;
      margin-left: 5%;
      margin-top: 20px;
    }
    #standing1 {
      width: 90%;
      margin-left: 5%;
      margin-top: 20px;
    }
    #standing2 {
      width: 90%;
      margin-left: 5%;
      margin-top: 20px;
    }
    #couple {
      width: 90%;
      margin-left: 5%;
      margin-top: 20px;
    }
    #square3 {
      width: 90%;
      margin-left: 5%;
      margin-top: 20px;
    }
    #square2 {
      width: 90%;
      margin-left: 5%;
      margin-top: 20px;
    }
    #executiondetail {
      width: 100%;
    }
  }
}
