body {
	background-color: #f99007;
}
div {
    float: left;
    }
.container {
	width: 1500px;
	height: 1000px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.leye {
	width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid black;
    position: relative;
    left: 900px;
    top: 150px;
}
.reye {
	width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid black;
    position: relative;
    left: 1000px;
    top: 150px;
}
.nose {
	  width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid black;
      position: relative;
      left: 800px;
      top: 250px;
}
.mouth {
	  border-bottom: 100px solid black;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      height: 0;
      width: 300px;
      position: relative;
      left: 575px;
      top: 450px;
}
.body {
	  width: 600px;
      height: 250px;
      background: #f7492e;
      border-radius: 75px;
      margin-left: 750px;
      margin-top: 500px;
}
.stripe1 {
	width: 100px;
    height: 250px;
    transform: skew(20deg);
    background: #f9f3f2;
    margin-left: 150px;
}
.stripe2 {
	width: 100px;
    height: 250px;
    transform: skew(20deg);
    background: #f9f3f2;
    margin-left:350px;
    margin-top: -250px;
}
    .heart1 {
      position: relative;
      width: 100px;
      height: 90px;
      margin-top: -175px;
      margin-left: -80px;
      transform: rotate(270deg);
    }
    .heart1:before,
    .heart1:after {
      position: absolute;
      content: "";
      left: 50px;
      top: 0;
      width: 50px;
      height: 80px;
      background: #f7492e;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
    .heart1:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }
    .heart2 {
      position: relative;
      width: 100px;
      height: 90px;
      margin-top: -175px;
      margin-left: 580px;
      transform: rotate(90deg);
    }
    .heart2:before,
    .heart2:after {
      position: absolute;
      content: "";
      left: 50px;
      top: 0;
      width: 50px;
      height: 80px;
      background: #f7492e;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
    .heart2:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }